Repository omshub/website, pull requests merged in 2022-08, with the labels that each got.

#116 refactor(ReviewCard): update card layout and color mapping
  pages/course/[courseid].tsx
  pages/index.tsx
  src/components/CommentCard.tsx
  src/components/ReviewCard.tsx
  src/utilities.ts
Labels: enhancement

#126 Better responsiveness on mobile
  pages/course/[courseid].tsx
  pages/index.tsx
  src/components/ReviewCard.tsx
Labels: bug

#128 fix(index): sort by course name by default
  pages/index.tsx
Labels: bug

#127 feat(globals): add user data model and static data
  globals/staticDataModels.ts
  globals/types.ts
  globals/utilities.ts
Labels: core features

#141 feat: add user updates to `dbOperations`
  firebase/README.md
  firebase/constants.ts
  firebase/dbOperations.ts
  firebase/documentsDataTypes.ts
  firebase/index.ts
  firebase/utilities.ts
  firebase/utilityFunctions.ts
  globals/constants.ts
  globals/types.ts
  pages/course/[courseid].tsx
  pages/index.tsx
  pages/recents.tsx
Labels: core features

#148 refactor: extract static data from courses
  __seed__/createCoursesDataMap.js
  __seed__/data/courses.js
  firebase/dbOperations.ts
  firebase/utilities.ts
  globals/staticDataModels.ts
  globals/types.ts
  globals/utilities.ts
Labels: core features

#149 fix: correct recent reviews logic
  __seed__/createRecentsDataMap.js
  firebase/index.ts
  firebase/utilities.ts
Labels: bug

#150 fix: change default filter for `index` page
  pages/index.tsx
Labels: bug

#151 feat: add Fall 2022 courses
  __seed__/data/courses.js
  globals/staticDataModels.ts
  globals/types.ts
Labels: core features

#154 fix: color "course average" detail cards correctly
  pages/course/[courseid].tsx
  src/components/ReviewCard.tsx
  src/utilities.ts
Labels: bug

#157 fix: add logic for avg calculations on non-legacy fields
  firebase/__tests__/utilityFunctions.test.ts
  firebase/utilities.ts
  firebase/utilityFunctions.ts
Labels: bug

#163 fix(review card): fix issue with table not displaying for review card
  package.json
  src/components/ReviewCard.tsx
  yarn.lock
Labels: bug

#164 fix(review form): fix issue with review form not rendering html tags
  package.json
  src/components/ReviewCard.tsx
  yarn.lock
Labels: bug

#167 feat(dependabot): add dependabot dependency updates
  .github/dependabot.yml
Labels: enhancement

#166 fix(logout): route user to front page when logging out
  context/AuthContext.tsx
Labels: enhancement

#165 fix(link): styling for links
  pages/course/[courseid].tsx
  pages/index.tsx
  src/Link.tsx
  src/components/MobileMenu.tsx
  src/components/NavBar.tsx
  src/components/ProfileMenu.tsx
Labels: bug

#178 fix(mobile): fix bugs found on mobile devices
  context/MenuContext.tsx
  pages/recents.tsx
  src/components/MobileMenu.tsx
Labels: bug

#179 feat(github icon): added github icon along with minor feature scoping…
  pages/index.tsx
  src/components/MobileMenu.tsx
  src/components/NavBar.tsx
Labels: enhancement

#180 fix(mobile): broken mobile links fixed
  src/components/MobileMenu.tsx
Labels: bug
