Repository omshub/website, pull requests merged in 2024-08, with the labels that each got.

#548 Feat: init supabase
  example.env
  globals/types.ts
  package.json
  services/README.md
  services/backend.ts
  services/index.ts
  services/utilities/supabaseData.ts
  services/utilities/supabaseTypes.ts
  supabase/README.md
  supabase/database.types.ts
  supabase/seed/functions.sql
  supabase/seed/tables.sql
  supabase/types.ts
  tsconfig.json
  yarn.lock
Labels: documentation, core features, root, AnyChange, release, globals

#547 Feat: Init cloud functions
  .devcontainer/devcontainer.json
  .github/labeler.yml
  .github/workflows/greetings.yml
  .github/workflows/label.yml
  .github/workflows/stale.yml
  README.md
  __seed__/README.md
  context/AuthContext.tsx
  firebase.json
  firebase/README.md
  functions/.gitignore
  functions/README.md
  functions/index.js
  functions/package.json
  functions/yarn.lock
  package.json
  pages/course/[courseid].tsx
  pages/user/reviews.tsx
  src/components/FormEditor.tsx
  src/components/NavBar.tsx
  src/components/ProfileMenu.tsx
  src/components/ReviewCard.tsx
  src/components/ReviewForm.tsx
Labels: documentation, enhancement, root, AnyChange, release, source, pages, firebase, context, workflows, devcontainer

#549 fix(husky): update husky files
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
  services/backend.ts
  services/utilities/supabaseData.ts
  services/utilities/supabaseTypes.ts
  supabase/database.types.ts
  supabase/types.ts
Labels: release

#550 fix(data-grid): fix search for hidden columns
  pages/index.tsx
Labels: release, pages

#556 feat(email): add email icon and into readme
  README.md
  src/components/NavBar.tsx
Labels: documentation, root, release, source
